.articles {

  .entry {

    .entry-header {
      display: flex;
        flex-direction: column-reverse;
      margin: 0;

      .entry-meta {
        color: $gold;
        font-family: $font-miller;
        font-size: 1.375rem;
        font-weight: 700;
        margin-bottom: 0;
      }

      .entry-title a {
        color: $light-purple;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

      }

    }

    .entry-image-link {
      display: block;
      margin-bottom: 15px;
      max-width: 275px;
      text-align: center;
    }

    .entry-content {
      padding: 0;
    }

  }

}

.archive-pagination ul {
  display: flex;
    justify-content: center;

  li {
    margin-right: $px-to-rem-15;

    a {
      border: 1px solid $dark-purple;
      padding: 0.625rem $px-to-rem-15;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $light-purple;
        color: #fff;
      }

    }

    &.active a {
      background-color: $dark-purple;
      color: #fff;
    }

  }

}

@media only screen and (min-width: $breakpoint-standard) {

  .articles .entry {
    display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas:
        'image header'
        'image content'
        'image footer';

    .entry-header {
      grid-area: header;
      text-align: left;
    }

    .entry-image-link {
      grid-area: image;
      margin: 40px 30px 0 0;
    }

    .entry-content {
      grid-area: content;
    }

    .entry-footer {
      grid-area: footer;
    }

  }

}
