.page-hero {
  position: relative;

  .page-hero-inner {
    position: relative;
    z-index: 1;

    .hero-content-1,
    .hero-content-2 {
      display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      height: 100vh;
      padding: $px-to-rem-15;

      * {
        color: #fff;
      }

    }

    .hero-content-1 {
      margin: 0 auto;
      position: relative;
      width: 75%;

      &::after {
        animation-name: arrowDown;
        animation-duration: 500ms;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        border: 2px solid #fff;
        border-radius: 50%;
        color: #fff;
        content: '\f346';
        display: flex;
          align-items: center;
          justify-content: center;
        font-family: dashicons;
        font-size: 20px;
        height: 30px;
        line-height: 1;
        position: absolute;
          bottom: 60px;
        width: 30px;

        @keyframes arrowDown {
          0% { transform: translateY(0); }
          100% { transform: translateY(5px); }
        }
      }

    }

    .hero-content-2 {
      position: relative;

      &::after {
        background-color: $light-gray;
        content: '';
        display: block;
        height: 25%;
        position: absolute;
          bottom: 0;
        width: 1px;
      }

    }

  }

  .page-hero-background {
    background-attachment: fixed;
    background-image: radial-gradient(closest-side at 50% 50%, #41328E 0%, #211851 35%, #0E0929 63%, #070319 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%;
    height: 100%;
    position: absolute;
      top: 0;
      left: 0;
    width: 100%;

    .page-hero-image {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      mix-blend-mode: soft-light;
      position: absolute;
        top: 0;
        left: 0;
      width: 100%;
    }

  }

}

.home {

  .entry-header {
    display: none;
  }

  .page-intro,
  .section {
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: relative;
  }

  .background {
    opacity: .75;
    position: absolute;
    z-index: -1;
  }

  .vertical-text {
    display: none;
  }

  .page-intro {
    text-align: center;

    .background-1 {
      right: -50%;
      bottom: -25%;
      left: 25%;
    }

  }

  .section-2 {

    .mosaic-images {
      display: grid;
        grid-template-areas:
          'image1 image2'
          'image3 image3';
        grid-template-columns: 60% 1fr;
        grid-gap: 15px;
      margin-top: 60px;

      img:nth-child(1) {
        grid-area: image1;
      }

      img:nth-child(2) {
        grid-area: image2;
        transform: translateY(-30px);
      }

      img:nth-child(3) {
        grid-area: image3;
        padding-left: 30px;
      }

    }

  }

  .section-3 {

    .background-2 {
      top: -10%;
      left: -25%;
    }

  }

  .section-4 {

    .background-3 {
      opacity: .3;
      right: -25%;
      bottom: -10%;
      left: 25%;
    }

  }

}

@media only screen and (min-width: $breakpoint-standard) {

  .page-hero-background {
    background-size: 150% 150%;
  }

  .home {

    .vertical-text {
      color: $light-gray;
      text-transform: uppercase;
      transform: rotate(-90deg);
    }

  }

}
